API_BASE_URL=https://api.uuidify.io
DEFAULT_REFRESH_INTERVAL=30000
NEXT_PUBLIC_API_BASE_URL=https://api.uuidify.io
NEXT_PUBLIC_LOCAL_API_BASE_URL=http://localhost:8787
ERROR_ENDPOINT=https://api.uuidify.io/log
